@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

@model List<Product>


<div class="container mt-3">

    <div class="row">
        <div class="col-md-6">
            <h1>Ürün Listesi</h1>
        </div>
        <div class="col-md-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                Yeni Ürün
            </a>
        </div>
        <hr />
    </div>


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:8%">
                    Fotoğraf
                </th>
                <th>
                    Kategori Adı
                </th>
                <th>
                    Ürün Adı
                </th>
                <th>
                    Fiyat
                </th>
                <th>
                    Stok
                </th>
                <th>
                    Ana Sayfa
                </th>
                <th>
                    Onaylı
                </th>
                <th style="width:11%;">
                    İşlemler
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        <img src="~/image/@product.Image" width="70" />
                    </td>
                    <td>@product.Category.Name</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Stock</td>
                    <td>
                        @if (product.IsHome == true)
                        {
                            <label class="badge bg-success">
                                <i class="fa-solid fa-circle-check"></i>
                                Evet
                            </label>
                        }else
                        {
                            <label class="badge bg-danger">
                                <i class="fa-solid fa-circle-check"></i>
                                Hayır
                            </label>
                        }
                    </td>
                    <td>
                        @if (product.IsApproved == true)
                        {
                            <label class="badge bg-success">
                                <i class="fa-solid fa-circle-check"></i>
                                Evet
                            </label>
                        }
                        else
                        {
                            <label class="badge bg-danger">
                                <i class="fa-solid fa-circle-check"></i>
                                Hayır
                            </label>
                        }
                    </td>
                    <td>
                        <a asp-controller="Product" asp-action="Update" asp-route-id="@product.Id" class="btn btn-sm btn-warning">
                            Düzenle
                        </a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-sm btn-danger">
                            Sil
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>